@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

/* General styling */
body {
    font-family: 'Tektur', cursive;
    background-color: #333;
    color: white;
}

/* About Section */
#about {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

#about h2 {
    color: red; 
    margin-bottom: 20px;
}

#about p {
    margin: 10px auto; 
    text-align: left; 
}

